{% extends 'base.html' %}
{% block content %}
<p>共{{ movies|length }}部电影</p>
<ul class='movie-list'>
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}"
                target="_blank" title="搜索豆瓣电影">豆瓣</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img class='totoro' src="{{ url_for('static', filename='images/totoro.gif') }}" title="龙猫" alt="龙猫">
{% endblock %}